@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  font-family: 'Bonheur Royale', cursive;
  font-family: 'DM Sans', sans-serif;
}

/*Header*/
/* ---- Nav-DeTodosLosHtml ---- */
/*nav-tamaño y movimiento de botones*/
.boton-tamano {
  font-size: 20px;
}

.boton-tamano:hover {
  /*hover bonotes nav*/
  -webkit-text-decoration: underline 1px;
          text-decoration: underline 1px;
}

/*botones login-carrito*/
.buton-log-car {
  font-size: 25px;
}

.buton-log-car:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

/*Diseño Logo*/
.diseño-logo {
  width: 120px;
  height: 120px;
}

/* ---- Main ---- */
/* html login - Dimension -main*/
.dimension-main-login {
  max-width: 90%;
}

/* tamaño del main - hombre-mujer-niño*/
.dimension-main {
  max-width: 80%;
}

/*html-hombre-mujer-niño hover en imagenes*/
.sombra-imag:hover {
  -webkit-box-shadow: 5px 5px 10px black;
          box-shadow: 5px 5px 10px black;
}

/*-seccion-Carousel*/
/*-seccion-Banner*/
/*-seccion-Categoria-Index*/
.container {
  width: 100%;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 1100px;
}

.container .box {
  width: 100%;
  height: auto;
  position: relative;
  overflow: hidden;
  margin: 10px;
  border-radius: 3px;
}

.container .box .capa {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #fff;
  -webkit-transform: scale(0);
          transform: scale(0);
  -webkit-transition: .3s ease;
  transition: .3s ease;
}

.box:hover .capa {
  -webkit-transform: scale(1);
          transform: scale(1);
}

@media only screen and (max-width: 900px) {
  .container {
    width: 90%;
    margin: auto;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

/*-seccion-Oferta-Index*/
.section-title {
  width: 100%;
  overflow: hidden;
  font-size: 1.28em;
  letter-spacing: 2px;
  line-height: initial;
  vertical-align: middle;
  text-align: center;
  text-transform: uppercase;
}

.tamaño-imagen {
  width: 80%;
}

/* ---- footer ----*/
.colo-fondo-footer {
  background-color: black;
  margin-top: 50px;
}

footer .titulo-seccion {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: white;
}

footer .copy {
  color: black;
  margin-left: 15px;
  color: white;
}

/*Diseño logos Footer*/
.redes-sociales {
  font-size: 25px;
  text-decoration: none;
  color: white;
  padding: 10px;
}

/*Hover Bonotes RedesSociales*/
.redes-sociales:hover {
  color: white;
  border-radius: 50px;
  border: white solid;
}

/*Seccion boton chat*/
.ChatBtn {
  background-image: url(/arquivos/chat-icon1.png);
  background-repeat: no-repeat;
  border-radius: 3px;
  background-color: #e62020;
  border: none;
  text-align: center;
  background-size: 36px;
  background-position: 3px;
  line-height: 32px;
  padding: 4px 10px 4px 10px;
  color: #fff;
  font-size: 14px;
  cursor: pointer;
  min-width: 80px;
  outline: none;
  position: fixed;
  bottom: 0;
  right: 0;
  margin: 20px 20px 70px !important;
  width: 130px !important;
  z-index: 998;
  text-decoration: none;
}

.spacio {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

/*html carrito*/
/*# sourceMappingURL=Style.css.map */